

.kaka{
    user-select: none
}

.kaka:hover{
    .container{
        display: block;
     
    }
}

.hey{
 
  transform: translate(-50%,0%);
}

.ker{
    font-family: "Bree Serif";
    font-weight: 500;
    color:#00174f;
    
}